## Class: Data Sci. for Soc. Impact
## Student: Ronald Carter 
## Term: Spring 2024
## Purpose of notebook: DataCleaning in Scope of Our research question.
## Research focus: Anayzing the impact of UPOV membership on specific cereal grains(Maize corn & sorghum)and cassava

In [1]:
# Import libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows', None) 
pd.set_option('display.max_columns', None)

In [2]:
# Loading data 
file_path = "C:\\Users\\Graduate School\\Downloads\\faostat_crops.csv"
crops_df = pd.read_csv(file_path, encoding='latin')
crops_df.head()

C:\Users\Graduate School\AppData\Local\Temp\ipykernel_10316\1090421531.py:3: DtypeWarning: Columns (11,14,17,20,23,26,29,32,35,38,41,44,47,50,53,56,59,62,65,68,71,74,77,80,83,86,89,92,95,98,101,104,107,110,113,116,119,122,125,128,131,134,137,140,143,146,149,152,155,158,161,164,167,170,173,176,179,182,185,188,191) have mixed types. Specify dtype option on import or set low_memory=False.
  crops_df = pd.read_csv(file_path, encoding='latin')

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Unit,Y1961,Y1961F,Y1961N,Y1962,Y1962F,Y1962N,Y1963,Y1963F,Y1963N,Y1964,Y1964F,Y1964N,Y1965,Y1965F,Y1965N,Y1966,Y1966F,Y1966N,Y1967,Y1967F,Y1967N,Y1968,Y1968F,Y1968N,Y1969,Y1969F,Y1969N,Y1970,Y1970F,Y1970N,Y1971,Y1971F,Y1971N,Y1972,Y1972F,Y1972N,Y1973,Y1973F,Y1973N,Y1974,Y1974F,Y1974N,Y1975,Y1975F,Y1975N,Y1976,Y1976F,Y1976N,Y1977,Y1977F,Y1977N,Y1978,Y1978F,Y1978N,Y1979,Y1979F,Y1979N,Y1980,Y1980F,Y1980N,Y1981,Y1981F,Y1981N,Y1982,Y1982F,Y1982N,Y1983,Y1983F,Y1983N,Y1984,Y1984F,Y1984N,Y1985,Y1985F,Y1985N,Y1986,Y1986F,Y1986N,Y1987,Y1987F,Y1987N,Y1988,Y1988F,Y1988N,Y1989,Y1989F,Y1989N,Y1990,Y1990F,Y1990N,Y1991,Y1991F,Y1991N,Y1992,Y1992F,Y1992N,Y1993,Y1993F,Y1993N,Y1994,Y1994F,Y1994N,Y1995,Y1995F,Y1995N,Y1996,Y1996F,Y1996N,Y1997,Y1997F,Y1997N,Y1998,Y1998F,Y1998N,Y1999,Y1999F,Y1999N,Y2000,Y2000F,Y2000N,Y2001,Y2001F,Y2001N,Y2002,Y2002F,Y2002N,Y2003,Y2003F,Y2003N,Y2004,Y2004F,Y2004N,Y2005,Y2005F,Y2005N,Y2006,Y2006F,Y2006N,Y2007,Y2007F,Y2007N,Y2008,Y2008F,Y2008N,Y2009,Y2009F,Y2009N,Y2010,Y2010F,Y2010N,Y2011,Y2011F,Y2011N,Y2012,Y2012F,Y2012N,Y2013,Y2013F,Y2013N,Y2014,Y2014F,Y2014N,Y2015,Y2015F,Y2015N,Y2016,Y2016F,Y2016N,Y2017,Y2017F,Y2017N,Y2018,Y2018F,Y2018N,Y2019,Y2019F,Y2019N,Y2020,Y2020F,Y2020N,Y2021,Y2021F,Y2021N
0,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,E,NaN,5900.0,E,NaN,6000.0,E,NaN,6000.0,E,NaN,6000.0,E,NaN,5800.0,E,NaN,5800.0,E,NaN,5800.0,E,NaN,5700.0,E,NaN,5700.0,E,NaN,5600.0,E,NaN,5500.0,E,NaN,5500.0,E,NaN,5400.0,E,NaN,5400.0,E,NaN,6037.0,I,NaN,5500.0,A,NaN,5500.0,A,NaN,5500.0,A,NaN,5500.0,A,NaN,5500.0,A,NaN,5500.0,A,NaN,5500.0,A,NaN,5500.0,A,NaN,5500.0,A,NaN,7000.0,E,NaN,9000.0,E,NaN,5500.00,A,NaN,5700.0,A,NaN,12000.0,X,Unofficial figure,11768.0,I,NaN,12000.0,A,NaN,12000.0,A,NaN,12000.0,A,NaN,11029.0,A,NaN,11210.0,A,NaN,13469.0,A,NaN,13490.0,A,NaN,14114.0,A,NaN,13703.0,A,NaN,14676.0,A,NaN,19481.0,A,NaN,19793.0,A,NaN,20053.0,A,NaN,29203.0,A,NaN,22134.0,A,NaN,21685.00,I,NaN
1,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5419,Yield,100 g/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16610.0,E,NaN,15000.0,E,NaN,20000.0,E,NaN,17500.0,E,NaN,17069.0,E,NaN,13793.0,E,NaN,18966.0,E,NaN,17018.0,E,NaN,18421.0,E,NaN,16071.0,E,NaN,18182.0,E,NaN,16364.0,E,NaN,16667.0,E,NaN,16296.0,E,NaN,15736.0,I,NaN,16364.0,A,NaN,18000.0,A,NaN,16364.0,A,NaN,16364.0,A,NaN,16364.0,A,NaN,16364.0,A,NaN,16364.0,A,NaN,16364.0,A,NaN,20000.0,E,NaN,17143.0,E,NaN,16667.0,E,NaN,21407.00,E,NaN,24561.0,E,NaN,12250.0,E,NaN,13281.0,E,NaN,16667.0,A,NaN,26234.0,A,NaN,35000.0,A,NaN,39154.0,E,NaN,49955.0,A,NaN,45000.0,A,NaN,45960.0,A,NaN,29910.0,A,NaN,19996.0,A,NaN,16521.0,A,NaN,16859.0,A,NaN,13788.0,A,NaN,17161.0,A,NaN,13083.0,A,NaN,17759.0,A,NaN,18748.00,E,NaN
2,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5510,Production,t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,E,NaN,9800.0,E,NaN,9000.0,E,NaN,12000.0,E,NaN,10500.0,E,NaN,9900.0,E,NaN,8000.0,E,NaN,11000.0,E,NaN,9700.0,E,NaN,10500.0,E,NaN,9000.0,E,NaN,10000.0,E,NaN,9000.0,E,NaN,9000.0,E,NaN,8800.0,E,NaN,9500.0,E,NaN,9000.0,A,NaN,9900.0,A,NaN,9000.0,A,NaN,9000.0,A,NaN,9000.0,A,NaN,9000.0,A,NaN,9000.0,A,NaN,9000.0,A,NaN,11000.0,E,NaN,12000.0,E,NaN,15000.0,E,NaN,11773.99,I,NaN,14000.0,X,Unofficial figure,14700.0,X,Unofficial figure,15630.0,X,Unofficial figure,20000.0,A,NaN,31481.0,A,NaN,42000.0,A,NaN,43183.0,X,Unofficial figure,56000.0,A,NaN,60611.0,A,NaN,62000.0,A,NaN,42215.0,A,NaN,27400.0,A,NaN,24246.0,A,NaN,32843.0,A,NaN,27291.0,A,NaN,34413.0,A,NaN,38205.0,A,NaN,39307.0,A,NaN,40655.23,I,NaN
3,2,'004,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5312,Area harvested,ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,700.0,E,NaN,700.0,E,NaN,300.0,E,NaN,1100.0,E,NaN,1300.0,E,NaN,1882.0,I,NaN,700.0,E,NaN,2270.0,I,NaN,2871.0,I,NaN,3000.0,E,NaN,7000.0,E,NaN,4000.0,E,NaN,12000.0,E,NaN,11311.0,I,NaN,4000.0,E,NaN,1600.0,E,NaN,3300.00,E,NaN,6800.0,E,NaN,15000.0,E,NaN,16000.0,E,NaN,17432.0,I,NaN,28000.0,E,NaN,15000.0,E,NaN,17748.0,I,NaN,17000.0,E,NaN,19500.0,I,NaN,18500.0,E,NaN,18500.0,E,NaN,30000.0,E,NaN,25000.0,E,NaN,24500.0,E,NaN,26160.0,I,NaN,25220.0,E,NaN,27387.0,I,NaN,26255.0,E,NaN,26287.00,E,NaN
4,2,'004,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5419,Yield,100 g/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7143.0,E,NaN,7143.0,E,NaN,6667.0,E,NaN,7273.0,E,NaN,7692.0,E,NaN,7072.0,E,NaN,7143.0,E,NaN,6854.0,E,NaN,6761.0,E,NaN,6667.0,E,NaN,6000.0,E,NaN,6250.0,E,NaN,5917.0,E,NaN,6189.0,E,NaN,6250.0,E,NaN,6250.0,E,NaN,6061.00,E,NaN,6029.0,E,NaN,6000.0,E,NaN,6250.0,E,NaN,6222.0,E,NaN,6071.0,E,NaN,6000.0,E,NaN,6203.0,E,NaN,6000.0,E,NaN,6414.0,E,NaN,6757.0,E,NaN,6757.0,E,NaN,7167.0,E,NaN,7200.0,E,NaN,7075.0,E,NaN,6970.0,E,NaN,7866.0,E,NaN,6902.0,E,NaN,7409.0,E,NaN,7379.00,E,NaN

In [3]:
crops_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79297 entries, 0 to 79296
Columns: 192 entries, Area Code to Y2021N
dtypes: float64(61), int64(3), object(128)
memory usage: 116.2+ MB

## Filtering Down to reflect scope of Research 
- East African Countries ( will have to map out east african countries)
- Elements just Area harvested amd Production

In [4]:
crops_df= crops_df[crops_df['Element'].isin(['Area harvested', 'Production'])]
crops_df.head()

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Unit,Y1961,Y1961F,Y1961N,Y1962,Y1962F,Y1962N,Y1963,Y1963F,Y1963N,Y1964,Y1964F,Y1964N,Y1965,Y1965F,Y1965N,Y1966,Y1966F,Y1966N,Y1967,Y1967F,Y1967N,Y1968,Y1968F,Y1968N,Y1969,Y1969F,Y1969N,Y1970,Y1970F,Y1970N,Y1971,Y1971F,Y1971N,Y1972,Y1972F,Y1972N,Y1973,Y1973F,Y1973N,Y1974,Y1974F,Y1974N,Y1975,Y1975F,Y1975N,Y1976,Y1976F,Y1976N,Y1977,Y1977F,Y1977N,Y1978,Y1978F,Y1978N,Y1979,Y1979F,Y1979N,Y1980,Y1980F,Y1980N,Y1981,Y1981F,Y1981N,Y1982,Y1982F,Y1982N,Y1983,Y1983F,Y1983N,Y1984,Y1984F,Y1984N,Y1985,Y1985F,Y1985N,Y1986,Y1986F,Y1986N,Y1987,Y1987F,Y1987N,Y1988,Y1988F,Y1988N,Y1989,Y1989F,Y1989N,Y1990,Y1990F,Y1990N,Y1991,Y1991F,Y1991N,Y1992,Y1992F,Y1992N,Y1993,Y1993F,Y1993N,Y1994,Y1994F,Y1994N,Y1995,Y1995F,Y1995N,Y1996,Y1996F,Y1996N,Y1997,Y1997F,Y1997N,Y1998,Y1998F,Y1998N,Y1999,Y1999F,Y1999N,Y2000,Y2000F,Y2000N,Y2001,Y2001F,Y2001N,Y2002,Y2002F,Y2002N,Y2003,Y2003F,Y2003N,Y2004,Y2004F,Y2004N,Y2005,Y2005F,Y2005N,Y2006,Y2006F,Y2006N,Y2007,Y2007F,Y2007N,Y2008,Y2008F,Y2008N,Y2009,Y2009F,Y2009N,Y2010,Y2010F,Y2010N,Y2011,Y2011F,Y2011N,Y2012,Y2012F,Y2012N,Y2013,Y2013F,Y2013N,Y2014,Y2014F,Y2014N,Y2015,Y2015F,Y2015N,Y2016,Y2016F,Y2016N,Y2017,Y2017F,Y2017N,Y2018,Y2018F,Y2018N,Y2019,Y2019F,Y2019N,Y2020,Y2020F,Y2020N,Y2021,Y2021F,Y2021N
0,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,E,NaN,5900.0,E,NaN,6000.0,E,NaN,6000.0,E,NaN,6000.0,E,NaN,5800.0,E,NaN,5800.0,E,NaN,5800.0,E,NaN,5700.0,E,NaN,5700.0,E,NaN,5600.0,E,NaN,5500.0,E,NaN,5500.0,E,NaN,5400.0,E,NaN,5400.0,E,NaN,6037.0,I,NaN,5500.00,A,NaN,5500.0,A,NaN,5500.00,A,NaN,5500.00,A,NaN,5500.0,A,NaN,5500.0,A,NaN,5500.0,A,NaN,5500.0,A,NaN,5500.0,A,NaN,7000.0,E,NaN,9000.0,E,NaN,5500.00,A,NaN,5700.0,A,NaN,12000.0,X,Unofficial figure,11768.0,I,NaN,12000.00,A,NaN,12000.0,A,NaN,12000.0,A,NaN,11029.00,A,NaN,11210.0,A,NaN,13469.0,A,NaN,13490.0,A,NaN,14114.0,A,NaN,13703.0,A,NaN,14676.0,A,NaN,19481.00,A,NaN,19793.00,A,NaN,20053.00,A,NaN,29203.00,A,NaN,22134.0,A,NaN,21685.00,I,NaN
2,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5510,Production,t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,E,NaN,9800.0,E,NaN,9000.0,E,NaN,12000.0,E,NaN,10500.0,E,NaN,9900.0,E,NaN,8000.0,E,NaN,11000.0,E,NaN,9700.0,E,NaN,10500.0,E,NaN,9000.0,E,NaN,10000.0,E,NaN,9000.0,E,NaN,9000.0,E,NaN,8800.0,E,NaN,9500.0,E,NaN,9000.00,A,NaN,9900.0,A,NaN,9000.00,A,NaN,9000.00,A,NaN,9000.0,A,NaN,9000.0,A,NaN,9000.0,A,NaN,9000.0,A,NaN,11000.0,E,NaN,12000.0,E,NaN,15000.0,E,NaN,11773.99,I,NaN,14000.0,X,Unofficial figure,14700.0,X,Unofficial figure,15630.0,X,Unofficial figure,20000.00,A,NaN,31481.0,A,NaN,42000.0,A,NaN,43183.00,X,Unofficial figure,56000.0,A,NaN,60611.0,A,NaN,62000.0,A,NaN,42215.0,A,NaN,27400.0,A,NaN,24246.0,A,NaN,32843.00,A,NaN,27291.00,A,NaN,34413.00,A,NaN,38205.00,A,NaN,39307.0,A,NaN,40655.23,I,NaN
3,2,'004,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5312,Area harvested,ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,700.0,E,NaN,700.0,E,NaN,300.0,E,NaN,1100.0,E,NaN,1300.0,E,NaN,1882.00,I,NaN,700.0,E,NaN,2270.00,I,NaN,2871.00,I,NaN,3000.0,E,NaN,7000.0,E,NaN,4000.0,E,NaN,12000.0,E,NaN,11311.0,I,NaN,4000.0,E,NaN,1600.0,E,NaN,3300.00,E,NaN,6800.0,E,NaN,15000.0,E,NaN,16000.0,E,NaN,17432.00,I,NaN,28000.0,E,NaN,15000.0,E,NaN,17748.00,I,NaN,17000.0,E,NaN,19500.0,I,NaN,18500.0,E,NaN,18500.0,E,NaN,30000.0,E,NaN,25000.0,E,NaN,24500.00,E,NaN,26160.00,I,NaN,25220.00,E,NaN,27387.00,I,NaN,26255.0,E,NaN,26287.00,E,NaN
5,2,'004,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5510,Production,t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.0,E,NaN,500.0,E,NaN,200.0,E,NaN,800.0,E,NaN,1000.0,E,NaN,1331.24,I,NaN,500.0,E,NaN,1556.06,I,NaN,1940.65,I,NaN,2000.0,E,NaN,4200.0,E,NaN,2500.0,E,NaN,7100.0,E,NaN,7000.0,E,NaN,2500.0,E,NaN,1000.0,E,NaN,2000.00,E,NaN,4100.0,E,NaN,9000.0,E,NaN,10000.0,E,NaN,10846.18,I,NaN,17000.0,E,NaN,9000.0,E,NaN,11008.47,I,NaN,10200.0,E,NaN,12508.0,I,NaN,12500.0,E,NaN,12500.0,E,NaN,21500.0,E,NaN,18000.0,E,NaN,17333.33,E,NaN,18234.12,I,NaN,19837.33,I,NaN,18903.37,I,NaN,19453.5,I,NaN,19398.07,E,NaN
6,2,'004,Afghanistan,515,'01341,Apples,5312,Area harvested,ha,2220.0,E,NaN,2220.0,E,NaN,2220.0,E,NaN,2350.0,E,NaN,2480.0,E,NaN,2740.0,E,NaN,3060.0,E,NaN,2990.0,E,NaN,3040.0,E,NaN,3060.0,E,NaN,3060.0,E,NaN,3150.0,E,NaN,3210.0,E,NaN,3270.0,E,NaN,3270.0,E,NaN,3270.0,E,NaN,3280.0,E,NaN,3250.0,E,NaN,3150.0,E,NaN,3150.0,E,NaN,3080.0,E,NaN,2960.0,E,NaN,2850.0,E,NaN,2730.0,E,NaN,2660.0,E,NaN,2590.0,E,NaN,2230.0,E,NaN,2330.0,E,NaN,2340.0,E,NaN,2365.0,I,NaN,2346.00,I,NaN,2308.0,I,NaN,2300.00,E,NaN,2350.00,E,NaN,2631.0,I,NaN,3135.0,I,NaN,3748.0,I,NaN,4410.0,I,NaN,4930.0,I,NaN,5598.0,I,NaN,5482.0,I,NaN,5045.00,I,NaN,3935.0,A,NaN,2311.0,A,NaN,2751.0,A,NaN,7000.00,A,NaN,7000.0,A,NaN,7000.0,A,NaN,8550.00,A,NaN,8550.0,A,NaN,8863.0,A,NaN,9148.0,A,NaN,10341.0,A,NaN,12247.0,A,NaN,13038.0,A,NaN,19365.00,A,NaN,26847.00,A,NaN,28381.00,A,NaN,27559.00,A,NaN,25643.0,A,NaN,26540.00,I,NaN

In [5]:
# Filtering down to crops of interest 
crops_df['Item'].unique()

array(['Almonds, in shell',
       'Anise, badian, coriander, cumin, caraway, fennel and juniper berries, raw',
       'Apples', 'Apricots', 'Barley', 'Butter and ghee of sheep milk',
       'Butter of cow milk', 'Buttermilk, dry',
       'Cantaloupes and other melons', 'Cattle fat, unrendered',
       'Cheese from milk of goats, fresh or processed',
       'Cheese from milk of sheep, fresh or processed',
       'Cotton lint, ginned', 'Cotton seed', 'Cottonseed oil',
       'Edible offal of cattle, fresh, chilled or frozen',
       'Edible offal of goat, fresh, chilled or frozen',
       'Edible offal of sheep, fresh, chilled or frozen',
       'Edible offals of camels and other camelids, fresh, chilled or frozen',
       'Fat of camels', 'Figs', 'Game meat, fresh, chilled or frozen',
       'Goat fat, unrendered', 'Grapes', 'Hen eggs in shell, fresh',
       'Linseed', 'Maize (corn)', 'Meat of camels, fresh or chilled',
       'Meat of cattle with the bone, fresh or chilled',
       'Meat of chickens, fresh or chilled',
       'Meat of goat, fresh or chilled',
       'Meat of sheep, fresh or chilled', 'Millet', 'Molasses',
       'Natural honey', 'Oil of linseed', 'Oil of sesame seed',
       'Olive oil', 'Olives',
       'Onions and shallots, dry (excluding dehydrated)', 'Oranges',
       'Other berries and fruits of the genus vaccinium n.e.c.',
       'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.',
       'Other nuts (excluding wild edible nuts and groundnuts), in shell, n.e.c.',
       'Other pulses n.e.c.',
       'Other stimulant, spice and aromatic crops, n.e.c.',
       'Other stone fruits', 'Other vegetables, fresh n.e.c.',
       'Peaches and nectarines', 'Pears', 'Pistachios, in shell',
       'Plums and sloes', 'Potatoes',
       'Raw cane or beet sugar (centrifugal only)',
       'Raw hides and skins of cattle',
       'Raw hides and skins of goats or kids',
       'Raw hides and skins of sheep or lambs', 'Raw milk of camel',
       'Raw milk of cattle', 'Raw milk of goats', 'Raw milk of sheep',
       'Raw silk (not thrown)', 'Rice', 'Seed cotton, unginned',
       'Sesame seed', 'Sheep fat, unrendered',
       'Shorn wool, greasy, including fleece-washed shorn wool',
       'Silk-worm cocoons suitable for reeling', 'Skim milk of cows',
       'Sugar beet', 'Sugar cane', 'Sunflower seed',
       'Sunflower-seed oil, crude', 'Walnuts, in shell', 'Watermelons',
       'Wheat', 'Beef and Buffalo Meat, primary', 'Butter and Ghee',
       'Cereals, primary', 'Cheese (All Kinds)', 'Citrus Fruit, Total',
       'Eggs Primary', 'Fibre Crops, Fibre Equivalent', 'Fruit Primary',
       'Meat, Poultry', 'Meat, Total', 'Milk, Total',
       'Oilcrops, Cake Equivalent', 'Oilcrops, Oil Equivalent',
       'Pulses, Total', 'Roots and Tubers, Total', 'Sheep and Goat Meat',
       'Skim Milk & Buttermilk, Dry', 'Sugar Crops Primary',
       'Treenuts, Total', 'Vegetables Primary', 'Beans, dry',
       'Beer of barley, malted', 'Broad beans and horse beans, dry',
       'Broad beans and horse beans, green', 'Buffalo fat, unrendered',
       'Cabbages', 'Carrots and turnips', 'Cauliflowers and broccoli',
       'Cheese from whole cow milk', 'Cherries', 'Chestnuts, in shell',
       'Chillies and peppers, green (Capsicum spp. and Pimenta spp.)',
       'Cucumbers and gherkins', 'Dates',
       'Edible offal of buffalo, fresh, chilled or frozen',
       'Edible offal of pigs, fresh, chilled or frozen',
       'Edible offals of horses and other equines,  fresh, chilled or frozen',
       'Eggplants (aubergines)',
       'Eggs from other birds in shell, fresh, n.e.c.', 'Fat of pigs',
       'Green garlic', 'Groundnut oil', 'Hop cones',
       'Horse meat, fresh or chilled',
       'Leeks and other alliaceous vegetables', 'Lemons and limes',
       'Lettuce and chicory', 'Margarine and shortening',
       'Meat of asses, fresh or chilled',
       'Meat of buffalo, fresh or chilled',
       'Meat of mules, fresh or chilled',
       'Meat of pig with the bone, fresh or chilled',
       'Meat of turkeys, fresh or chilled', 'Mushrooms and truffles',
       'Oats', 'Okra', 'Onions and shallots, green', 'Other beans, green',
       'Other meat n.e.c. (excluding mammals), fresh, chilled or frozen',
       'Palm oil', 'Peas, green', 'Pumpkins, squash and gourds',
       'Quinces', 'Raw hides and skins of buffaloes',
       'Raw milk of buffalo', 'Rye', 'Sorghum', 'Sour cherries',
       'Soya bean oil', 'Soya beans', 'Spinach', 'Strawberries',
       'Tangerines, mandarins, clementines', 'Tomatoes',
       'Unmanufactured tobacco', 'Vetches', 'Wine', 'Artichokes',
       'Bananas', 'Cheese from skimmed cow milk', 'Chick peas, dry',
       'Chillies and peppers, dry (Capsicum spp., Pimenta spp.), raw',
       'Groundnuts, excluding shelled', 'Lentils, dry',
       'Locust beans (carobs)',
       'Meat of rabbits and hares, fresh or chilled',
       'Other tropical fruits, n.e.c.', 'Peas, dry',
       'Pomelos and grapefruits', 'Rape or colza seed',
       'Rapeseed or canola oil, crude', 'Safflower-seed oil, crude',
       'Triticale', 'Beeswax', 'Cashew nuts, in shell', 'Cassava, fresh',
       'Castor oil seeds', 'Cocoa beans', 'Coffee, green',
       'Flax, processed but not spun',
       'Kenaf, and other textile bast fibres, raw or retted',
       'Oil of palm kernel', 'Oil palm fruit', 'Palm kernels',
       'Pig fat, rendered', 'Pineapples', 'Sisal, raw', 'Sweet potatoes',
       'Mangoes, guavas and mangosteens', 'Taro', 'Yams', 'Asparagus',
       'Avocados', 'Canary seed', 'Cereals n.e.c.', 'Cream, fresh',
       'Ghee from cow milk',
       'Green tea (not fermented), black tea (fermented) and partly fermented tea, in immediate packings of a content not exceeding 3 kg',
       'Lupins', 'Maté leaves', 'Meat of ducks, fresh or chilled',
       'Meat of geese, fresh or chilled', 'Oil of maize',
       'Other fibre crops, raw, n.e.c.', 'Other oil seeds, n.e.c.',
       'Papayas', 'Peppermint, spearmint', 'Safflower seed',
       'Skim milk and whey powder', 'String beans', 'Tallow',
       'Tea leaves', 'Tung nuts', 'Whey, dry', 'Whole milk powder',
       'Whole milk, condensed', 'Whole milk, evaporated',
       'Evaporated & Condensed Milk', 'Hazelnuts, in shell',
       'Blueberries', 'Coconut oil', 'Cow peas, dry', 'Currants',
       'Green corn (maize)', 'Kiwi fruit', 'Mustard seed', 'Persimmons',
       'Raspberries', 'Skim milk, condensed', 'Buckwheat', 'Gooseberries',
       'Mixed grain', 'Poppy seed', 'True hemp, raw or retted',
       'Whey, condensed', 'Yoghurt', 'Cranberries', 'Coconuts, in shell',
       'Pigeon peas, dry', 'Plantains and cooking bananas', 'Areca nuts',
       'Butter of buffalo milk', 'Coir, raw', 'Ghee from buffalo milk',
       'Ginger, raw', 'Jute, raw or retted',
       'Natural rubber in primary forms', 'Other sugar crops n.e.c.',
       'Other pome fruits', 'Chicory roots', 'Vanilla, raw',
       'Edible roots and tubers with high starch or inulin content, n.e.c., fresh',
       'Yautia', 'Fonio', 'Karite nuts (sheanuts)', 'Kola nuts',
       'Melonseed', 'Pepper (Piper spp.), raw',
       'Nutmeg, mace, cardamoms, raw', 'Brazil nuts, in shell',
       'Meat of other domestic camelids, fresh or chilled',
       'Meat of other domestic rodents, fresh or chilled',
       'Pyrethrum, dried flowers', 'Quinoa',
       'Balata, gutta-percha, guayule, chicle and similar natural gums in primary forms or in plates, sheets or strip',
       'Cashewapple', 'Ramie, raw or retted', 'Cassava leaves',
       'Hempseed',
       'Meat of pigeons and other birds n.e.c., fresh, chilled or frozen',
       'Bambara beans, dry', 'Skim milk, evaporated',
       'Cheese from milk of buffalo, fresh or processed',
       'Cinnamon and cinnamon-tree flowers, raw',
       'Cloves (whole stems), raw', 'Tallowtree seeds',
       'Agave fibres, raw, n.e.c.', 'Abaca, manila hemp, raw',
       'Snails, fresh, chilled, frozen, dried, salted or in brine, except sea snails',
       'Kapok fibre, raw', 'Kapok fruit', 'Kapokseed in shell',
       'Jojoba seeds', 'Butter of goat milk'], dtype=object)

In [6]:
crops_df = crops_df[crops_df['Item'].isin(['Maize (corn)','Cassava, fresh','Sorghum'])]
crops_df.head(1)

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Unit,Y1961,Y1961F,Y1961N,Y1962,Y1962F,Y1962N,Y1963,Y1963F,Y1963N,Y1964,Y1964F,Y1964N,Y1965,Y1965F,Y1965N,Y1966,Y1966F,Y1966N,Y1967,Y1967F,Y1967N,Y1968,Y1968F,Y1968N,Y1969,Y1969F,Y1969N,Y1970,Y1970F,Y1970N,Y1971,Y1971F,Y1971N,Y1972,Y1972F,Y1972N,Y1973,Y1973F,Y1973N,Y1974,Y1974F,Y1974N,Y1975,Y1975F,Y1975N,Y1976,Y1976F,Y1976N,Y1977,Y1977F,Y1977N,Y1978,Y1978F,Y1978N,Y1979,Y1979F,Y1979N,Y1980,Y1980F,Y1980N,Y1981,Y1981F,Y1981N,Y1982,Y1982F,Y1982N,Y1983,Y1983F,Y1983N,Y1984,Y1984F,Y1984N,Y1985,Y1985F,Y1985N,Y1986,Y1986F,Y1986N,Y1987,Y1987F,Y1987N,Y1988,Y1988F,Y1988N,Y1989,Y1989F,Y1989N,Y1990,Y1990F,Y1990N,Y1991,Y1991F,Y1991N,Y1992,Y1992F,Y1992N,Y1993,Y1993F,Y1993N,Y1994,Y1994F,Y1994N,Y1995,Y1995F,Y1995N,Y1996,Y1996F,Y1996N,Y1997,Y1997F,Y1997N,Y1998,Y1998F,Y1998N,Y1999,Y1999F,Y1999N,Y2000,Y2000F,Y2000N,Y2001,Y2001F,Y2001N,Y2002,Y2002F,Y2002N,Y2003,Y2003F,Y2003N,Y2004,Y2004F,Y2004N,Y2005,Y2005F,Y2005N,Y2006,Y2006F,Y2006N,Y2007,Y2007F,Y2007N,Y2008,Y2008F,Y2008N,Y2009,Y2009F,Y2009N,Y2010,Y2010F,Y2010N,Y2011,Y2011F,Y2011N,Y2012,Y2012F,Y2012N,Y2013,Y2013F,Y2013N,Y2014,Y2014F,Y2014N,Y2015,Y2015F,Y2015N,Y2016,Y2016F,Y2016N,Y2017,Y2017F,Y2017N,Y2018,Y2018F,Y2018N,Y2019,Y2019F,Y2019N,Y2020,Y2020F,Y2020N,Y2021,Y2021F,Y2021N
61,2,'004,Afghanistan,56,'0112,Maize (corn),5312,Area harvested,ha,500000.0,A,NaN,500000.0,A,NaN,500000.0,A,NaN,505000.0,A,NaN,500000.0,A,NaN,500000.0,A,NaN,543000.0,A,NaN,453000.0,A,NaN,457000.0,A,NaN,452000.0,A,NaN,500000.0,A,NaN,460000.0,A,NaN,470000.0,A,NaN,476200.0,A,NaN,484000.0,A,NaN,482000.0,A,NaN,480000.0,A,NaN,482000.0,A,NaN,472000.0,A,NaN,450000.0,E,NaN,420000.0,E,NaN,398000.0,X,Unofficial figure,384000.0,X,Unofficial figure,366000.0,X,Unofficial figure,346500.0,X,Unofficial figure,336000.0,A,NaN,302000.0,X,Unofficial figure,290000.0,X,Unofficial figure,270000.0,X,Unofficial figure,273000.0,A,NaN,250000.0,A,NaN,200000.0,E,NaN,280000.0,E,NaN,300000.0,E,NaN,320000.0,E,NaN,220000.0,E,NaN,200000.0,A,NaN,200000.0,A,NaN,160000.0,A,NaN,96000.0,A,NaN,80000.0,A,NaN,100000.0,A,NaN,250000.0,A,NaN,250000.0,A,NaN,261000.0,A,NaN,137000.0,A,NaN,137000.0,A,NaN,137000.0,A,NaN,140000.0,A,NaN,183000.0,A,NaN,183000.0,A,NaN,141000.0,A,NaN,142000.0,A,NaN,127000.0,A,NaN,147273.0,A,NaN,151900.0,A,NaN,134225.0,A,NaN,72433.0,A,NaN,94910.0,A,NaN,140498.0,A,NaN,92144.0,I,NaN

In [7]:
# Checkpoint
crops_df['Element'].unique()

array(['Area harvested', 'Production'], dtype=object)

In [8]:
crops_df['Item'].unique()

array(['Maize (corn)', 'Sorghum', 'Cassava, fresh'], dtype=object)

In [9]:
# Gonna resume the filtering aftering delt with long formart.

In [10]:
# Dropping all year columns with an N at the end,
# Defining function letter dropper
def letter_dropper(df):
    for col in df.columns: 
        if col.endswith ('N'):
            df.drop(col, axis=1, inplace= True)

In [11]:
# Calling letter dropper with the crops df
letter_dropper(crops_df)
# Checkpoint
crops_df.head()

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,Y1962F,Y1963,Y1963F,Y1964,Y1964F,Y1965,Y1965F,Y1966,Y1966F,Y1967,Y1967F,Y1968,Y1968F,Y1969,Y1969F,Y1970,Y1970F,Y1971,Y1971F,Y1972,Y1972F,Y1973,Y1973F,Y1974,Y1974F,Y1975,Y1975F,Y1976,Y1976F,Y1977,Y1977F,Y1978,Y1978F,Y1979,Y1979F,Y1980,Y1980F,Y1981,Y1981F,Y1982,Y1982F,Y1983,Y1983F,Y1984,Y1984F,Y1985,Y1985F,Y1986,Y1986F,Y1987,Y1987F,Y1988,Y1988F,Y1989,Y1989F,Y1990,Y1990F,Y1991,Y1991F,Y1992,Y1992F,Y1993,Y1993F,Y1994,Y1994F,Y1995,Y1995F,Y1996,Y1996F,Y1997,Y1997F,Y1998,Y1998F,Y1999,Y1999F,Y2000,Y2000F,Y2001,Y2001F,Y2002,Y2002F,Y2003,Y2003F,Y2004,Y2004F,Y2005,Y2005F,Y2006,Y2006F,Y2007,Y2007F,Y2008,Y2008F,Y2009,Y2009F,Y2010,Y2010F,Y2011,Y2011F,Y2012,Y2012F,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F,Y2020,Y2020F,Y2021,Y2021F
61,2,'004,Afghanistan,56,'0112,Maize (corn),5312,Area harvested,ha,500000.0,A,500000.0,A,500000.0,A,505000.0,A,500000.0,A,500000.0,A,543000.0,A,453000.0,A,457000.0,A,452000.0,A,500000.0,A,460000.0,A,470000.0,A,476200.0,A,484000.0,A,482000.0,A,480000.0,A,482000.0,A,472000.0,A,450000.0,E,420000.0,E,398000.0,X,384000.0,X,366000.0,X,346500.0,X,336000.0,A,302000.0,X,290000.0,X,270000.0,X,273000.0,A,250000.0,A,200000.0,E,280000.0,E,300000.0,E,320000.0,E,220000.0,E,200000.0,A,200000.0,A,160000.0,A,96000.0,A,80000.0,A,100000.0,A,250000.0,A,250000.0,A,261000.0,A,137000.0,A,137000.0,A,137000.0,A,140000.0,A,183000.0,A,183000.0,A,141000.0,A,142000.0,A,127000.0,A,147273.0,A,151900.0,A,134225.0,A,72433.0,A,94910.0,A,140498.0,A,92144.0,I
63,2,'004,Afghanistan,56,'0112,Maize (corn),5510,Production,t,700000.0,A,700000.0,A,713000.0,A,720000.0,A,720000.0,A,720000.0,A,768000.0,A,773000.0,A,785000.0,A,667000.0,A,670000.0,A,720000.0,A,760000.0,A,770000.0,A,780000.0,A,800000.0,A,760000.0,A,780000.0,A,760000.0,A,752000.0,E,701000.0,E,663000.0,X,639000.0,X,608000.0,X,577000.0,X,567000.0,A,514000.0,X,494000.0,X,458000.0,X,480000.0,A,420000.0,A,300000.0,A,470000.0,A,500000.0,A,530000.0,A,360000.0,A,300000.0,A,330000.0,A,240000.0,A,115000.0,A,160000.0,A,298000.0,A,210000.0,A,400000.0,A,315000.0,A,359000.0,A,360000.0,A,360000.0,A,300000.0,A,301000.0,A,300120.0,A,310000.0,A,312000.0,A,316000.0,A,316000.0,A,311646.0,A,173912.0,A,106670.0,A,184671.0,A,271776.0,A,180000.0,X
367,3,'008,Albania,56,'0112,Maize (corn),5312,Area harvested,ha,161516.0,A,135383.0,A,161138.0,A,145457.0,A,157631.0,A,146598.0,A,149717.0,A,116890.0,A,106412.0,A,109785.0,A,115329.0,A,120000.0,E,105800.0,A,106000.0,E,100000.0,E,90000.0,E,85000.0,E,86000.0,E,97800.0,A,104400.0,A,98400.0,A,91700.0,A,86600.0,A,86000.0,E,78000.0,A,77000.0,A,81000.0,A,72100.0,A,64000.0,A,62000.0,A,44303.0,A,62736.0,A,72669.0,A,74767.0,A,68870.0,A,65654.0,A,61145.0,A,56599.0,A,55000.0,A,53000.0,A,52000.0,A,50000.0,A,48336.0,A,46800.0,A,48391.0,A,48971.0,A,46200.0,A,49000.0,A,47600.0,A,54200.0,A,61200.0,A,53500.0,A,53500.0,A,55000.0,A,54600.0,A,58528.0,A,58060.0,A,54115.0,A,55148.0,A,56727.0,A,58288.0,A
369,3,'008,Albania,56,'0112,Maize (corn),5510,Production,t,154104.0,A,122919.0,A,192141.0,A,169231.0,A,165660.0,A,220648.0,A,258131.0,A,219547.0,A,207343.0,A,227449.0,A,224230.0,A,236000.0,E,211600.0,A,233000.0,E,270000.0,E,280000.0,E,320000.0,E,340000.0,E,366750.0,A,276700.0,A,310800.0,A,341600.0,A,366000.0,A,320000.0,E,274000.0,A,347000.0,A,309000.0,A,237000.0,A,307000.0,A,227000.0,A,128779.0,A,156063.0,A,175751.0,A,193261.0,A,215566.0,A,214059.0,A,194818.0,A,189130.0,A,206000.0,A,205700.0,A,198300.0,A,197300.0,A,206900.0,A,216200.0,A,219900.0,A,245400.0,A,215900.0,A,245000.0,A,265100.0,A,362000.0,A,366400.0,A,360000.0,A,372000.0,A,380000.0,A,380000.0,A,379714.0,A,381059.0,A,391104.0,A,388951.0,A,399125.0,A,414270.8,A
501,3,'008,Albania,83,'0114,Sorghum,5312,Area harvested,ha,17729.0,A,14461.0,A,9080.0,A,24110.0,A,14555.0,A,22963.0,A,20637.0,A,20219.0,A,27810.0,A,27307.0,A,17092.0,A,20000.0,E,24000.0,E,24000.0,E,24000.0,E,26000.0,E,26000.0,E,25000.0,E,25000.0,E,25000.0,E,25000.0,E,25000.0,E,27000.0,E,27000.0,E,27000.0,E,27800.0,E,27500.0,E,27700.0,E,27800.0,E,20000.0,E,15000.0,E,22362.0,I,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M,0.0,M

In [12]:
# Combining flag with its associated value 
# Defining flag combiner 
def flag_combiner(df):
    for col in df.columns:
        if col.endswith('F'):
            year = col[1:5]
# Combining the values from the year column and flag column as strings
            df[year] = df[f'Y{year}'].astype(str) + df[col].astype(str)
# Dropping the original year and flag columns
            df.drop([f'Y{year}', col], axis=1, inplace=True)

In [13]:
# Calling flag combiner 
flag_combiner(crops_df)
crops_df.head()

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Unit,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
61,2,'004,Afghanistan,56,'0112,Maize (corn),5312,Area harvested,ha,500000.0A,500000.0A,500000.0A,505000.0A,500000.0A,500000.0A,543000.0A,453000.0A,457000.0A,452000.0A,500000.0A,460000.0A,470000.0A,476200.0A,484000.0A,482000.0A,480000.0A,482000.0A,472000.0A,450000.0E,420000.0E,398000.0X,384000.0X,366000.0X,346500.0X,336000.0A,302000.0X,290000.0X,270000.0X,273000.0A,250000.0A,200000.0E,280000.0E,300000.0E,320000.0E,220000.0E,200000.0A,200000.0A,160000.0A,96000.0A,80000.0A,100000.0A,250000.0A,250000.0A,261000.0A,137000.0A,137000.0A,137000.0A,140000.0A,183000.0A,183000.0A,141000.0A,142000.0A,127000.0A,147273.0A,151900.0A,134225.0A,72433.0A,94910.0A,140498.0A,92144.0I
63,2,'004,Afghanistan,56,'0112,Maize (corn),5510,Production,t,700000.0A,700000.0A,713000.0A,720000.0A,720000.0A,720000.0A,768000.0A,773000.0A,785000.0A,667000.0A,670000.0A,720000.0A,760000.0A,770000.0A,780000.0A,800000.0A,760000.0A,780000.0A,760000.0A,752000.0E,701000.0E,663000.0X,639000.0X,608000.0X,577000.0X,567000.0A,514000.0X,494000.0X,458000.0X,480000.0A,420000.0A,300000.0A,470000.0A,500000.0A,530000.0A,360000.0A,300000.0A,330000.0A,240000.0A,115000.0A,160000.0A,298000.0A,210000.0A,400000.0A,315000.0A,359000.0A,360000.0A,360000.0A,300000.0A,301000.0A,300120.0A,310000.0A,312000.0A,316000.0A,316000.0A,311646.0A,173912.0A,106670.0A,184671.0A,271776.0A,180000.0X
367,3,'008,Albania,56,'0112,Maize (corn),5312,Area harvested,ha,161516.0A,135383.0A,161138.0A,145457.0A,157631.0A,146598.0A,149717.0A,116890.0A,106412.0A,109785.0A,115329.0A,120000.0E,105800.0A,106000.0E,100000.0E,90000.0E,85000.0E,86000.0E,97800.0A,104400.0A,98400.0A,91700.0A,86600.0A,86000.0E,78000.0A,77000.0A,81000.0A,72100.0A,64000.0A,62000.0A,44303.0A,62736.0A,72669.0A,74767.0A,68870.0A,65654.0A,61145.0A,56599.0A,55000.0A,53000.0A,52000.0A,50000.0A,48336.0A,46800.0A,48391.0A,48971.0A,46200.0A,49000.0A,47600.0A,54200.0A,61200.0A,53500.0A,53500.0A,55000.0A,54600.0A,58528.0A,58060.0A,54115.0A,55148.0A,56727.0A,58288.0A
369,3,'008,Albania,56,'0112,Maize (corn),5510,Production,t,154104.0A,122919.0A,192141.0A,169231.0A,165660.0A,220648.0A,258131.0A,219547.0A,207343.0A,227449.0A,224230.0A,236000.0E,211600.0A,233000.0E,270000.0E,280000.0E,320000.0E,340000.0E,366750.0A,276700.0A,310800.0A,341600.0A,366000.0A,320000.0E,274000.0A,347000.0A,309000.0A,237000.0A,307000.0A,227000.0A,128779.0A,156063.0A,175751.0A,193261.0A,215566.0A,214059.0A,194818.0A,189130.0A,206000.0A,205700.0A,198300.0A,197300.0A,206900.0A,216200.0A,219900.0A,245400.0A,215900.0A,245000.0A,265100.0A,362000.0A,366400.0A,360000.0A,372000.0A,380000.0A,380000.0A,379714.0A,381059.0A,391104.0A,388951.0A,399125.0A,414270.8A
501,3,'008,Albania,83,'0114,Sorghum,5312,Area harvested,ha,17729.0A,14461.0A,9080.0A,24110.0A,14555.0A,22963.0A,20637.0A,20219.0A,27810.0A,27307.0A,17092.0A,20000.0E,24000.0E,24000.0E,24000.0E,26000.0E,26000.0E,25000.0E,25000.0E,25000.0E,25000.0E,25000.0E,27000.0E,27000.0E,27000.0E,27800.0E,27500.0E,27700.0E,27800.0E,20000.0E,15000.0E,22362.0I,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M

## In preperation for the melt
- Splitting dataframe for Area Harvested and Production.

In [14]:
Area_df = crops_df[crops_df['Element'].isin(['Area harvested'])]

In [15]:
Area_df.head()

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Unit,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
61,2,'004,Afghanistan,56,'0112,Maize (corn),5312,Area harvested,ha,500000.0A,500000.0A,500000.0A,505000.0A,500000.0A,500000.0A,543000.0A,453000.0A,457000.0A,452000.0A,500000.0A,460000.0A,470000.0A,476200.0A,484000.0A,482000.0A,480000.0A,482000.0A,472000.0A,450000.0E,420000.0E,398000.0X,384000.0X,366000.0X,346500.0X,336000.0A,302000.0X,290000.0X,270000.0X,273000.0A,250000.0A,200000.0E,280000.0E,300000.0E,320000.0E,220000.0E,200000.0A,200000.0A,160000.0A,96000.0A,80000.0A,100000.0A,250000.0A,250000.0A,261000.0A,137000.0A,137000.0A,137000.0A,140000.0A,183000.0A,183000.0A,141000.0A,142000.0A,127000.0A,147273.0A,151900.0A,134225.0A,72433.0A,94910.0A,140498.0A,92144.0I
367,3,'008,Albania,56,'0112,Maize (corn),5312,Area harvested,ha,161516.0A,135383.0A,161138.0A,145457.0A,157631.0A,146598.0A,149717.0A,116890.0A,106412.0A,109785.0A,115329.0A,120000.0E,105800.0A,106000.0E,100000.0E,90000.0E,85000.0E,86000.0E,97800.0A,104400.0A,98400.0A,91700.0A,86600.0A,86000.0E,78000.0A,77000.0A,81000.0A,72100.0A,64000.0A,62000.0A,44303.0A,62736.0A,72669.0A,74767.0A,68870.0A,65654.0A,61145.0A,56599.0A,55000.0A,53000.0A,52000.0A,50000.0A,48336.0A,46800.0A,48391.0A,48971.0A,46200.0A,49000.0A,47600.0A,54200.0A,61200.0A,53500.0A,53500.0A,55000.0A,54600.0A,58528.0A,58060.0A,54115.0A,55148.0A,56727.0A,58288.0A
501,3,'008,Albania,83,'0114,Sorghum,5312,Area harvested,ha,17729.0A,14461.0A,9080.0A,24110.0A,14555.0A,22963.0A,20637.0A,20219.0A,27810.0A,27307.0A,17092.0A,20000.0E,24000.0E,24000.0E,24000.0E,26000.0E,26000.0E,25000.0E,25000.0E,25000.0E,25000.0E,25000.0E,27000.0E,27000.0E,27000.0E,27800.0E,27500.0E,27700.0E,27800.0E,20000.0E,15000.0E,22362.0I,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M,0.0M
723,4,'012,Algeria,56,'0112,Maize (corn),5312,Area harvested,ha,5837.0A,5000.0A,3797.0A,4990.0A,3800.0A,4200.0A,3850.0A,5830.0A,6160.0A,6290.0A,6210.0A,5530.0A,4530.0A,3180.0A,3720.0A,2160.0A,1640.0A,910.0A,770.0A,1530.0A,2270.0A,1830.0A,3000.0A,2850.0A,1970.0A,1710.0A,1510.0A,2000.0E,1000.0X,140.0A,260.0A,290.0A,180.0A,410.0A,260.0A,260.0A,120.0A,180.0A,240.0A,430.0A,400.0A,250.0A,340.0A,214.0A,339.0A,374.0A,192.0A,227.0A,186.0A,139.0A,246.0A,686.0A,370.0A,983.0A,712.0A,817.0A,2025.0A,1241.0A,1533.0A,530.0A,3606.0A
859,4,'012,Algeria,83,'0114,Sorghum,5312,Area harvested,ha,3400.0A,3000.0E,1923.0A,1800.0A,1660.0A,1000.0A,1600.0A,2430.0A,3700.0A,1980.0A,1890.0A,1390.0A,2220.0A,1510.0A,1400.0A,1240.0A,1570.0A,650.0A,460.0A,270.0A,150.0A,600.0E,350.0A,800.0A,450.0A,130.0A,270.0A,430.0A,380.0A,280.0A,130.0A,80.0A,20.0A,0.0A,30.0E,40.0A,30.0A,20.0A,20.0A,120.0A,200.0A,200.0A,230.0A,196.0A,370.0A,437.0A,202.0A,168.0A,43.0A,35.0A,94.0A,85.0A,2.0A,75.0A,219.0A,351.0A,312.0A,265.0A,132.0A,68.0A,105.0A

In [16]:
Pro_df = crops_df[crops_df['Element'].isin(['Production'])]

In [17]:
Pro_df.head(1)

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Unit,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
63,2,'004,Afghanistan,56,'0112,Maize (corn),5510,Production,t,700000.0A,700000.0A,713000.0A,720000.0A,720000.0A,720000.0A,768000.0A,773000.0A,785000.0A,667000.0A,670000.0A,720000.0A,760000.0A,770000.0A,780000.0A,800000.0A,760000.0A,780000.0A,760000.0A,752000.0E,701000.0E,663000.0X,639000.0X,608000.0X,577000.0X,567000.0A,514000.0X,494000.0X,458000.0X,480000.0A,420000.0A,300000.0A,470000.0A,500000.0A,530000.0A,360000.0A,300000.0A,330000.0A,240000.0A,115000.0A,160000.0A,298000.0A,210000.0A,400000.0A,315000.0A,359000.0A,360000.0A,360000.0A,300000.0A,301000.0A,300120.0A,310000.0A,312000.0A,316000.0A,316000.0A,311646.0A,173912.0A,106670.0A,184671.0A,271776.0A,180000.0X

In [18]:
# Reshaping data from wide to long, including only the year columns
prod_df_long = pd.melt(Pro_df,
                  id_vars=['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element', 'Unit'],
                  value_vars=[str(year) for year in range(1961, 2022)],
                  var_name='Year',
                  value_name='Production (Tonnes)')

# Checkpoint
prod_df_long.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Year,Production (Tonnes)
0,2,Afghanistan,56,Maize (corn),5510,Production,t,1961,700000.0A
1,3,Albania,56,Maize (corn),5510,Production,t,1961,154104.0A
2,3,Albania,83,Sorghum,5510,Production,t,1961,9536.0A
3,4,Algeria,56,Maize (corn),5510,Production,t,1961,5689.0A
4,4,Algeria,83,Sorghum,5510,Production,t,1961,1539.0A

In [19]:
prod_df_long['Year'].unique()

array(['1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976',
       '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021'], dtype=object)

In [20]:
prod_df_long['Production (Tonnes)'].isna().sum()

0

In [21]:
# Spliting the flag code off of value and creating its own column 
def flag_converter(df, production_column):
# Creating a new column for production flags
    df['Production Flag'] = ''
# Iterateing through each row 
    for index, row in df.iterrows():
# Extracting the flag part of the production value
        flag = row[production_column][-1]
# Updating the production flag column with the extracted flag
        df.at[index, 'Production Flag'] = flag
# Removing the flag from the production values
    df[production_column] = df[production_column].str[:-1]
    return df

In [22]:
# Calling flag converter
flag_converter(prod_df_long, 'Production (Tonnes)').head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Year,Production (Tonnes),Production Flag
0,2,Afghanistan,56,Maize (corn),5510,Production,t,1961,700000.0,A
1,3,Albania,56,Maize (corn),5510,Production,t,1961,154104.0,A
2,3,Albania,83,Sorghum,5510,Production,t,1961,9536.0,A
3,4,Algeria,56,Maize (corn),5510,Production,t,1961,5689.0,A
4,4,Algeria,83,Sorghum,5510,Production,t,1961,1539.0,A

In [23]:
# Reshaping data from wide to long format, including only the year columns
area_df_long = pd.melt(Area_df,
                  id_vars=['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element', 'Unit'],
                  value_vars=[str(year) for year in range(1961, 2022)],
                  var_name='Year',
                  value_name='Area Harvested (100 g/ha)')

# Checkpoint
area_df_long.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Year,Area Harvested (100 g/ha)
0,2,Afghanistan,56,Maize (corn),5312,Area harvested,ha,1961,500000.0A
1,3,Albania,56,Maize (corn),5312,Area harvested,ha,1961,161516.0A
2,3,Albania,83,Sorghum,5312,Area harvested,ha,1961,17729.0A
3,4,Algeria,56,Maize (corn),5312,Area harvested,ha,1961,5837.0A
4,4,Algeria,83,Sorghum,5312,Area harvested,ha,1961,3400.0A

In [24]:
# Spliting the flag code off of value and creating its own column to store the flag 
def flag_converter2(df, production_column):
# Creating a new column for production flags
    df['Area Harvested Flag'] = ''
# Iterateing through each row 
    for index, row in df.iterrows():
# Extracting the flag part of the production value
        flag = row[production_column][-1]
# Updating the production flag column with the extracted flag
        df.at[index, 'Area Harvested Flag'] = flag
# Removing the flag from the production values
    df[production_column] = df[production_column].str[:-1]
    return df

In [25]:
# Calling flag converter
flag_converter2(area_df_long, 'Area Harvested (100 g/ha)').head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Year,Area Harvested (100 g/ha),Area Harvested Flag
0,2,Afghanistan,56,Maize (corn),5312,Area harvested,ha,1961,500000.0,A
1,3,Albania,56,Maize (corn),5312,Area harvested,ha,1961,161516.0,A
2,3,Albania,83,Sorghum,5312,Area harvested,ha,1961,17729.0,A
3,4,Algeria,56,Maize (corn),5312,Area harvested,ha,1961,5837.0,A
4,4,Algeria,83,Sorghum,5312,Area harvested,ha,1961,3400.0,A

In [26]:
area_df_long.head(1)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Year,Area Harvested (100 g/ha),Area Harvested Flag
0,2,Afghanistan,56,Maize (corn),5312,Area harvested,ha,1961,500000.0,A

In [27]:
prod_df_long.head(1)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Year,Production (Tonnes),Production Flag
0,2,Afghanistan,56,Maize (corn),5510,Production,t,1961,700000.0,A

In [28]:
# Dropping element and unit columns from the frame 
area_df_long.drop(['Element', 'Unit','Element Code'], axis=1, inplace=True)
prod_df_long.drop(['Element', 'Unit', 'Element Code'], axis=1, inplace=True)

In [29]:
area_df_long.head(1)

,Area Code,Area,Item Code,Item,Year,Area Harvested (100 g/ha),Area Harvested Flag
0,2,Afghanistan,56,Maize (corn),1961,500000.0,A

In [30]:
prod_df_long.head(1)

,Area Code,Area,Item Code,Item,Year,Production (Tonnes),Production Flag
0,2,Afghanistan,56,Maize (corn),1961,700000.0,A

In [31]:
# Merging both frames
merged_df = pd.merge(area_df_long, prod_df_long, on=['Area Code', 'Area', 'Item Code', 'Item', 'Year'], how='left')

# Checkpoint
merged_df.head()

,Area Code,Area,Item Code,Item,Year,Area Harvested (100 g/ha),Area Harvested Flag,Production (Tonnes),Production Flag
0,2,Afghanistan,56,Maize (corn),1961,500000.0,A,700000.0,A
1,3,Albania,56,Maize (corn),1961,161516.0,A,154104.0,A
2,3,Albania,83,Sorghum,1961,17729.0,A,9536.0,A
3,4,Algeria,56,Maize (corn),1961,5837.0,A,5689.0,A
4,4,Algeria,83,Sorghum,1961,3400.0,A,1539.0,A

In [32]:
# Loading Upov members data
file_path2 = "C:\\Users\\Graduate School\\Downloads\\upov_members.csv"
upov_df = pd.read_csv(file_path2)
# Inspecting data 
upov_df.head()

      Country  Entry Year
0     Albania        2005
1   Argentina        1994
2   Australia        1989
3     Austria        1994
4  Azerbaijan        2004

In [33]:
upov_df['Country'].unique()

array(['Albania', 'Argentina', 'Australia', 'Austria', 'Azerbaijan',
       'Belarus', 'Belgium', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Bulgaria', 'Canada', 'Chile',
       'China, mainland', 'Colombia', 'Costa Rica', 'Croatia', 'Czechia',
       'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'Estonia',
       'Finland', 'France', 'Georgia', 'Germany', 'Ghana', 'Hungary',
       'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 'Jordan',
       'Kenya', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Mexico',
       'Montenegro', 'Morocco', 'Netherlands', 'New Zealand',
       'North Macedonia', 'Norway', 'Oman', 'Panama', 'Paraguay', 'Peru',
       'Poland', 'Portugal', 'Republic of Korea', 'Republic of Moldova',
       'Romania', 'Russian Federation', 'Serbia', 'Singapore', 'Slovakia',
       'Slovenia', 'South Africa', 'Spain',
       'Saint Vincent and the Grenadines', 'Sweden', 'Switzerland',
       'United Republic of Tanzania', 'Trinidad and Tobago', 'Tunisia',
       'Türkiye', 'United Kingdom of Great Britain and Northern Ireland',
       'Ukraine', 'Uruguay', 'United States of America', 'Uzbekistan',
       'Viet Nam', 'Brazil', 'Nicaragua'], dtype=object)

In [34]:
# Mering entry year
merged_df2 = pd.merge(merged_df, upov_df, left_on='Area', right_on='Country', how='left')

# Droping country column 
merged_df2.drop('Country', axis=1, inplace=True)

# Checkpoint
merged_df2.head()

,Area Code,Area,Item Code,Item,Year,Area Harvested (100 g/ha),Area Harvested Flag,Production (Tonnes),Production Flag,Entry Year
0,2,Afghanistan,56,Maize (corn),1961,500000.0,A,700000.0,A,NaN
1,3,Albania,56,Maize (corn),1961,161516.0,A,154104.0,A,2005.0
2,3,Albania,83,Sorghum,1961,17729.0,A,9536.0,A,2005.0
3,4,Algeria,56,Maize (corn),1961,5837.0,A,5689.0,A,NaN
4,4,Algeria,83,Sorghum,1961,3400.0,A,1539.0,A,NaN

### Filtering down the data to focus on the east african countries we picked for analysis
- Upov: Kenya, Republic of Tanzania, Egypt
- Non Upov Members: Burundi, Comoros, Madagascar, Malawi, Mauritius, Mozambique, Rwanda, Seychelles, Somalia, Uganda, Zambia, Zimbabwe

In [35]:
# Listing of East African countries of interest 
east_african_countries = ['Kenya', 'United Republic of Tanzania', 'Egypt', 'Burundi', 'Comoros', 'Madagascar', 'Malawi', 'Mauritius', 'Mozambique', 'Rwanda', 'Seychelles', 'Somalia', 'Uganda', 'Zambia', 'Zimbabwe']

# Filtering based on the East African countries list
east_df = merged_df2[merged_df2['Area'].isin(east_african_countries)]

# Checkpoint
east_df.head()

,Area Code,Area,Item Code,Item,Year,Area Harvested (100 g/ha),Area Harvested Flag,Production (Tonnes),Production Flag,Entry Year
51,29,Burundi,125,"Cassava, fresh",1961,41000.0,E,370000.0,E,NaN
52,29,Burundi,56,Maize (corn),1961,99000.0,E,95000.0,E,NaN
53,29,Burundi,83,Sorghum,1961,20000.0,E,20000.0,E,NaN
81,45,Comoros,125,"Cassava, fresh",1961,8400.0,E,42000.0,E,NaN
82,45,Comoros,56,Maize (corn),1961,2200.0,E,2300.0,E,NaN

In [36]:
east_df['Area'].unique()

array(['Burundi', 'Comoros', 'Egypt', 'Kenya', 'Madagascar', 'Malawi',
       'Mauritius', 'Mozambique', 'Rwanda', 'Seychelles', 'Somalia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [37]:
east_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2440 entries, 51 to 31203
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Area Code                  2440 non-null   int64
 1   Area                       2440 non-null   object
 2   Item Code                  2440 non-null   int64
 3   Item                       2440 non-null   object
 4   Year                       2440 non-null   object
 5   Area Harvested (100 g/ha)  2440 non-null   object
 6   Area Harvested Flag        2440 non-null   object
 7   Production (Tonnes)        2440 non-null   object
 8   Production Flag            2440 non-null   object
 9   Entry Year                 488 non-null    float64
dtypes: float64(1), int64(2), object(7)
memory usage: 209.7+ KB

In [38]:
# Changing NA in the Entry year column to 0 which means that specifi country never entered the UPOV
east_df['Entry Year'].fillna(0, inplace=True)

C:\Users\Graduate School\AppData\Local\Temp\ipykernel_10316\448080229.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  east_df['Entry Year'].fillna(0, inplace=True)

In [39]:
east_df['Area Harvested Flag'].unique()

array(['E', 'A', 'X', 'I'], dtype=object)

In [40]:
east_df.head()

,Area Code,Area,Item Code,Item,Year,Area Harvested (100 g/ha),Area Harvested Flag,Production (Tonnes),Production Flag,Entry Year
51,29,Burundi,125,"Cassava, fresh",1961,41000.0,E,370000.0,E,0.0
52,29,Burundi,56,Maize (corn),1961,99000.0,E,95000.0,E,0.0
53,29,Burundi,83,Sorghum,1961,20000.0,E,20000.0,E,0.0
81,45,Comoros,125,"Cassava, fresh",1961,8400.0,E,42000.0,E,0.0
82,45,Comoros,56,Maize (corn),1961,2200.0,E,2300.0,E,0.0

In [41]:
# Converting entry year column from float to integer
east_df['Entry Year'] =east_df['Entry Year'].astype(int)

C:\Users\Graduate School\AppData\Local\Temp\ipykernel_10316\3367923503.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  east_df['Entry Year'] =east_df['Entry Year'].astype(int)

In [42]:
east_df.head()

,Area Code,Area,Item Code,Item,Year,Area Harvested (100 g/ha),Area Harvested Flag,Production (Tonnes),Production Flag,Entry Year
51,29,Burundi,125,"Cassava, fresh",1961,41000.0,E,370000.0,E,0
52,29,Burundi,56,Maize (corn),1961,99000.0,E,95000.0,E,0
53,29,Burundi,83,Sorghum,1961,20000.0,E,20000.0,E,0
81,45,Comoros,125,"Cassava, fresh",1961,8400.0,E,42000.0,E,0
82,45,Comoros,56,Maize (corn),1961,2200.0,E,2300.0,E,0

In [43]:
# We previosuly anazlyzed which countries were missing data and excluded them from the analysis 
# Each of the countries we selected in East Africa (3 UPOV, 12 Upov) should have 61 rows for data from 1961-2021
# Some countries dont grow one of the crops so they would have no data on a specfic crop at all
# For each combination of area and item there should be 61 rows
# Defining row checker for each combo of area and item for validation of 61 rows
def row_checker(df):
# Grouping area and item and counting the number of rows in each group
    grouped = df.groupby(['Area', 'Item']).size().reset_index(name='Row Count')
# Checking if all groups have 61 rows or more
    all_61 = grouped['Row Count'].min() == 61
# If all groups have 61 rows print the correct number of rows
    if all_61:
        print("Correct number of rows")
        print(grouped)
    else:
        print("Not all groups have 61 rows or more.")

In [44]:
row_checker(east_df)

Correct number of rows
                           Area            Item  Row Count
0                       Burundi  Cassava, fresh         61
1                       Burundi    Maize (corn)         61
2                       Burundi         Sorghum         61
3                       Comoros  Cassava, fresh         61
4                       Comoros    Maize (corn)         61
5                         Egypt    Maize (corn)         61
6                         Egypt         Sorghum         61
7                         Kenya  Cassava, fresh         61
8                         Kenya    Maize (corn)         61
9                         Kenya         Sorghum         61
10                   Madagascar  Cassava, fresh         61
11                   Madagascar    Maize (corn)         61
12                   Madagascar         Sorghum         61
13                       Malawi  Cassava, fresh         61
14                       Malawi    Maize (corn)         61
15                       Malawi         Sorghum         61
16                    Mauritius  Cassava, fresh         61
17                    Mauritius    Maize (corn)         61
18                   Mozambique  Cassava, fresh         61
19                   Mozambique    Maize (corn)         61
20                   Mozambique         Sorghum         61
21                       Rwanda  Cassava, fresh         61
22                       Rwanda    Maize (corn)         61
23                       Rwanda         Sorghum         61
24                   Seychelles  Cassava, fresh         61
25                      Somalia  Cassava, fresh         61
26                      Somalia    Maize (corn)         61
27                      Somalia         Sorghum         61
28                       Uganda  Cassava, fresh         61
29                       Uganda    Maize (corn)         61
30                       Uganda         Sorghum         61
31  United Republic of Tanzania  Cassava, fresh         61
32  United Republic of Tanzania    Maize (corn)         61
33  United Republic of Tanzania         Sorghum         61
34                       Zambia  Cassava, fresh         61
35                       Zambia    Maize (corn)         61
36                       Zambia         Sorghum         61
37                     Zimbabwe  Cassava, fresh         61
38                     Zimbabwe    Maize (corn)         61
39                     Zimbabwe         Sorghum         61

In [45]:
# Preparing data from aggregation columns for Annual Area harvested change and Annual production change.
# Sorting datafor each combination of area and item in chronological order by year
eastdf_sorted = east_df.sort_values(['Area', 'Item', 'Year']).reset_index(drop=True)

In [46]:
eastdf_sorted.head()

,Area Code,Area,Item Code,Item,Year,Area Harvested (100 g/ha),Area Harvested Flag,Production (Tonnes),Production Flag,Entry Year
0,29,Burundi,125,"Cassava, fresh",1961,41000.0,E,370000.0,E,0
1,29,Burundi,125,"Cassava, fresh",1962,41000.0,E,370000.0,E,0
2,29,Burundi,125,"Cassava, fresh",1963,41000.0,E,370000.0,E,0
3,29,Burundi,125,"Cassava, fresh",1964,43000.0,E,390000.0,E,0
4,29,Burundi,125,"Cassava, fresh",1965,43000.0,E,390000.0,E,0

In [47]:
eastdf_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2440 entries, 0 to 2439
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Area Code                  2440 non-null   int64
 1   Area                       2440 non-null   object
 2   Item Code                  2440 non-null   int64
 3   Item                       2440 non-null   object
 4   Year                       2440 non-null   object
 5   Area Harvested (100 g/ha)  2440 non-null   object
 6   Area Harvested Flag        2440 non-null   object
 7   Production (Tonnes)        2440 non-null   object
 8   Production Flag            2440 non-null   object
 9   Entry Year                 2440 non-null   int32
dtypes: int32(1), int64(2), object(7)
memory usage: 181.2+ KB

In [48]:
# Converting area harvest and production columns to float
eastdf_sorted['Area Harvested (100 g/ha)'] = eastdf_sorted['Area Harvested (100 g/ha)'].astype(float)
eastdf_sorted['Production (Tonnes)'] = eastdf_sorted['Production (Tonnes)'].astype(float)

In [49]:
# Defining annual area change 
# Will caluclate the annual difference between each item for each country 
def annual_area_change(df):
# Calculating the difference in area harvested between consecutive years
    df['Annual Area Harvested Change'] = df.groupby(['Area', 'Item'])['Area Harvested (100 g/ha)'].diff()
    return df

In [50]:
# Calling function to calculate the annual area harvested change
new_east_df = annual_area_change(eastdf_sorted)

In [51]:
new_east_df.head()

,Area Code,Area,Item Code,Item,Year,Area Harvested (100 g/ha),Area Harvested Flag,Production (Tonnes),Production Flag,Entry Year,Annual Area Harvested Change
0,29,Burundi,125,"Cassava, fresh",1961,41000.0,E,370000.0,E,0,NaN
1,29,Burundi,125,"Cassava, fresh",1962,41000.0,E,370000.0,E,0,0.0
2,29,Burundi,125,"Cassava, fresh",1963,41000.0,E,370000.0,E,0,0.0
3,29,Burundi,125,"Cassava, fresh",1964,43000.0,E,390000.0,E,0,2000.0
4,29,Burundi,125,"Cassava, fresh",1965,43000.0,E,390000.0,E,0,0.0

In [52]:
# Repeating same steps for annual production change.
def annual_production_change(df):
# Calculating the difference in area harvested between consecutive years
    df['Annual Production Change'] = df.groupby(['Area', 'Item'])['Production (Tonnes)'].diff()
    return df

In [53]:
# Calling function to calculate the annual production change
new_east_df2 = annual_production_change(new_east_df)

In [54]:
new_east_df2.head(62)

,Area Code,Area,Item Code,Item,Year,Area Harvested (100 g/ha),Area Harvested Flag,Production (Tonnes),Production Flag,Entry Year,Annual Area Harvested Change,Annual Production Change
0,29,Burundi,125,"Cassava, fresh",1961,41000.0,E,370000.00,E,0,NaN,NaN
1,29,Burundi,125,"Cassava, fresh",1962,41000.0,E,370000.00,E,0,0.0,0.00
2,29,Burundi,125,"Cassava, fresh",1963,41000.0,E,370000.00,E,0,0.0,0.00
3,29,Burundi,125,"Cassava, fresh",1964,43000.0,E,390000.00,E,0,2000.0,20000.00
4,29,Burundi,125,"Cassava, fresh",1965,43000.0,E,390000.00,E,0,0.0,0.00
5,29,Burundi,125,"Cassava, fresh",1966,43000.0,E,390000.00,E,0,0.0,0.00
6,29,Burundi,125,"Cassava, fresh",1967,44000.0,E,400000.00,E,0,1000.0,10000.00
7,29,Burundi,125,"Cassava, fresh",1968,44000.0,E,400000.00,E,0,0.0,0.00
8,29,Burundi,125,"Cassava, fresh",1969,44000.0,E,400000.00,E,0,0.0,0.00
9,29,Burundi,125,"Cassava, fresh",1970,41000.0,E,370300.00,A,0,-3000.0,-29700.00
10,29,Burundi,125,"Cassava, fresh",1971,42000.0,E,378446.00,A,0,1000.0,8146.00
11,29,Burundi,125,"Cassava, fresh",1972,38000.0,E,340601.00,A,0,-4000.0,-37845.00
12,29,Burundi,125,"Cassava, fresh",1973,43000.0,E,386772.00,A,0,5000.0,46171.00
13,29,Burundi,125,"Cassava, fresh",1974,43000.0,E,389418.00,A,0,0.0,2646.00
14,29,Burundi,125,"Cassava, fresh",1975,43000.0,E,390640.00,A,0,0.0,1222.00
15,29,Burundi,125,"Cassava, fresh",1976,43000.0,E,395500.00,A,0,0.0,4860.00
16,29,Burundi,125,"Cassava, fresh",1977,44000.0,E,400000.00,A,0,1000.0,4500.00
17,29,Burundi,125,"Cassava, fresh",1978,49000.0,E,450000.00,A,0,5000.0,50000.00
18,29,Burundi,125,"Cassava, fresh",1979,42000.0,E,385200.00,A,0,-7000.0,-64800.00
19,29,Burundi,125,"Cassava, fresh",1980,44000.0,E,400000.00,A,0,2000.0,14800.00
20,29,Burundi,125,"Cassava, fresh",1981,49000.0,E,451000.00,A,0,5000.0,51000.00
21,29,Burundi,125,"Cassava, fresh",1982,50000.0,E,444000.00,A,0,1000.0,-7000.00
22,29,Burundi,125,"Cassava, fresh",1983,49000.0,E,444000.00,A,0,-1000.0,0.00
23,29,Burundi,125,"Cassava, fresh",1984,55000.0,E,511000.00,A,0,6000.0,67000.00
24,29,Burundi,125,"Cassava, fresh",1985,56000.0,E,504000.00,A,0,1000.0,-7000.00
25,29,Burundi,125,"Cassava, fresh",1986,60000.0,E,554000.00,A,0,4000.0,50000.00
26,29,Burundi,125,"Cassava, fresh",1987,62000.0,E,567600.00,A,0,2000.0,13600.00
27,29,Burundi,125,"Cassava, fresh",1988,65000.0,E,583400.00,A,0,3000.0,15800.00
28,29,Burundi,125,"Cassava, fresh",1989,68000.0,A,568800.00,A,0,3000.0,-14600.00
29,29,Burundi,125,"Cassava, fresh",1990,64000.0,A,569400.00,A,0,-4000.0,600.00
30,29,Burundi,125,"Cassava, fresh",1991,65000.0,A,583600.00,A,0,1000.0,14200.00
31,29,Burundi,125,"Cassava, fresh",1992,65000.0,A,598300.00,A,0,0.0,14700.00
32,29,Burundi,125,"Cassava, fresh",1993,65043.0,I,584300.00,A,0,43.0,-14000.00
33,29,Burundi,125,"Cassava, fresh",1994,60000.0,E,527304.00,X,0,-5043.0,-56996.00
34,29,Burundi,125,"Cassava, fresh",1995,57525.0,I,501278.00,X,0,-2475.0,-26026.00
35,29,Burundi,125,"Cassava, fresh",1996,64000.0,E,548986.00,X,0,6475.0,47708.00
36,29,Burundi,125,"Cassava, fresh",1997,70000.0,E,603275.00,X,0,6000.0,54289.00
37,29,Burundi,125,"Cassava, fresh",1998,70000.0,A,621740.00,A,0,0.0,18465.00
38,29,Burundi,125,"Cassava, fresh",1999,70000.0,A,617483.00,A,0,0.0,-4257.00
39,29,Burundi,125,"Cassava, fresh",2000,73000.0,E,656656.00,A,0,3000.0,39173.00
40,29,Burundi,125,"Cassava, fresh",2001,80000.0,E,716731.00,A,0,7000.0,60075.00
41,29,Burundi,125,"Cassava, fresh",2002,82000.0,A,749938.00,A,0,2000.0,33207.00
42,29,Burundi,125,"Cassava, fresh",2003,86364.0,I,736012.00,A,0,4364.0,-13926.00
43,29,Burundi,125,"Cassava, fresh",2004,86700.0,I,709574.00,A,0,336.0,-26438.00
44,29,Burundi,125,"Cassava, fresh",2005,89000.0,E,669548.00,A,0,2300.0,-40026.00
45,29,Burundi,125,"Cassava, fresh",2006,65000.0,E,571114.00,A,0,-24000.0,-98434.00
46,29,Burundi,125,"Cassava, fresh",2007,64000.0,E,558557.00,A,0,-1000.0,-12557.00
47,29,Burundi,125,"Cassava, fresh",2008,90000.0,E,582463.00,A,0,26000.0,23906.00
48,29,Burundi,125,"Cassava, fresh",2009,140000.0,E,586143.00,A,0,50000.0,3680.00
49,29,Burundi,125,"Cassava, fresh",2010,124094.0,I,598409.00,A,0,-15906.0,12266.00
50,29,Burundi,125,"Cassava, fresh",2011,105602.0,I,508739.00,A,0,-18492.0,-89670.00
51,29,Burundi,125,"Cassava, fresh",2012,295686.0,A,1244607.00,A,0,190084.0,735868.00
52,29,Burundi,125,"Cassava, fresh",2013,324918.0,A,2233790.00,A,0,29232.0,989183.00
53,29,Burundi,125,"Cassava, fresh",2014,304546.0,A,2242352.00,A,0,-20372.0,8562.00
54,29,Burundi,125,"Cassava, fresh",2015,340441.0,A,2757583.00,A,0,35895.0,515231.00
55,29,Burundi,125,"Cassava, fresh",2016,213118.0,A,2394982.00,A,0,-127323.0,-362601.00
56,29,Burundi,125,"Cassava, fresh",2017,308949.0,A,2285265.00,A,0,95831.0,-109717.00
57,29,Burundi,125,"Cassava, fresh",2018,295769.0,A,2386709.00,A,0,-13180.0,101444.00
58,29,Burundi,125,"Cassava, fresh",2019,296000.0,A,2408958.00,A,0,231.0,22249.00
59,29,Burundi,125,"Cassava, fresh",2020,305151.0,I,2442499.07,I,0,9151.0,33541.07
60,29,Burundi,125,"Cassava, fresh",2021,320995.0,I,2528076.34,I,0,15844.0,85577.27
61,29,Burundi,56,Maize (corn),1961,99000.0,E,95000.00,E,0,NaN,NaN

In [55]:
# Both Aggregated columns for year 1961 will have NaNs because
# the data doesnt have a previous year to calculate the difference from since the data starts at 1961
# Converting those NaNs to zeros for those instances
new_east_df2['Annual Area Harvested Change'].fillna(0, inplace=True)
new_east_df2['Annual Production Change'].fillna(0, inplace=True)

In [56]:
new_east_df2.head()

,Area Code,Area,Item Code,Item,Year,Area Harvested (100 g/ha),Area Harvested Flag,Production (Tonnes),Production Flag,Entry Year,Annual Area Harvested Change,Annual Production Change
0,29,Burundi,125,"Cassava, fresh",1961,41000.0,E,370000.0,E,0,0.0,0.0
1,29,Burundi,125,"Cassava, fresh",1962,41000.0,E,370000.0,E,0,0.0,0.0
2,29,Burundi,125,"Cassava, fresh",1963,41000.0,E,370000.0,E,0,0.0,0.0
3,29,Burundi,125,"Cassava, fresh",1964,43000.0,E,390000.0,E,0,2000.0,20000.0
4,29,Burundi,125,"Cassava, fresh",1965,43000.0,E,390000.0,E,0,0.0,0.0

## Data Cleaning complete